/*basic styles*/
html{
    font-size:100%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
}

*,*::before,*::after{
    box-sizing: inherit;
}

img, video{
    width: 100%;
    height: auto;
    display: block;
}

/* begin header navbar styles */
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height:1rem;
    overflow: hidden;
    background-attachment: white;
}

.logo, .nav-menu{
    text-transform: uppercase;
}
.logo, .nav-item{
    white-space: nowrap;
}

.nav-menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-item{
    flex: 1 0 33.3%;
    text-align: center;
}

.social-nav-item{
    flex: 1 1 10%;
}

.logo a, .nav-menu a{
    display: block;
    text-decoration: none;
    letter-spacing: 0.2rem;
    padding: 0.8rem;
    color: #000;
}

.logo a{
    font-weight:700;
    font-size: 2rem;
}

.nav-menu a{
    font-weight: 400;
    letter-spacing: 0.1rem;
    transition: all ease 0;
}

.nav-menu a:hover{
    border-bottom: 1px solid black;
}

/* hero header navbar changes */

.hero-nav{
    background: white;
    grid-column: 1/-1;
    grid-row: 1/ -1;
    background: none;
    align-content: top;
    z-index: 10;
}

.hero-nav, .logo a,
.hero-nav, .other-nav,
.nav-menu a {
 color: royalblue;
}

.hero-nav, .other-nav,
.nav-menu a:hover{
    border-bottom:1px solid #ffffff
}

.hero-nav, .other-nav,
.nav-menu a{
    border-bottom: 1p solid rgba(0, 0, 0, 0);
}

/* Homepage here */

.hero-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
    align-items: start;
    height: 100%;
  }
  
  .hero-image-box {
    height: 100vh;
    max-width: 100%;
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
  
  .hero-image-box::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .hero-img,
  .hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/*.hero-video {
   background-color: black;
   background-image: url("img/2d.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}*/

.hero-text-box {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    align-self: center;
    padding: 1rem;
    z-index: 10;
    text-align: center;
  }

.hero-heading {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.hero-text {
    font-size: 1rem;
    margin-top: 0.5rem;
    color:white
}

.hero-button{
    display: inline-block;
    padding: 0.75rem 2rem;
    background: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 2rem;
}

.hero-button:hover{
    transform: scale(0.95);
}

.hero-button:active{
    background: rgba(0, 0, 0, 0,3);
}

/* about page css*/
.about-page{
    padding: 2rem 1rem 10rem 1rem;
    display:grid;
    grid-template-columns: 1fr;
    height: 100;
}

.about-text {
    margin: 0 auto;
}

.about-text h1{
    font-size: 2rem;
    line-height: 2rem;
}

.about-img img{
    height: 60%;
    object-fit: cover;
    padding: 0.5rem 1rem 0.5rem 1rem;
}


.about-social {
    display:flex;
    justify-content: start;
}

.about-social a{
    color: black;
    padding: 0 1rem 1rem 1rem;
}

.gallery-page {
 padding: 0 1rem 10rem 1rem;
}

.portfolio-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.5rem;
    grid-auto-columns: 300px;
}

.gallery-item{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.gallery-img{ 
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;  
}

.gallery-img:hover{
    transform: scale(1.5);
}

.gallery-span{
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
}
.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6 {
    grid-column: span 1;
}
.h-1,
.h-2,
.h-3,
.h-4,
.h-5,
.h-6{
    grid-column: span 1;
}



/*Other navbar styles
.other-nav{
    background: lightblue;
    grid-column: 1/-1;
    grid-row: 1/ -1;
    background: none;
    align-content: top;
    z-index: 10;
}*/
 
/* foter nav extra styles */
.footer-logo {
    white-space: nowrap;
  }
  
  .footer-social {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
  }
  
  .footer-social a {
    color: black;
    padding: 0 1rem;
  }
  
  .footer-copyright {
    text-align: center;
    padding-bottom: 6rem;
  }
  
 
/* add media queries for large screens */

@media (min-width: 600px) {
    .nav-bar{
        line-height: 1.5rem;
    
    }
    .nav-menu{
        padding: 0 1rem;
    }
    .nav-item{ 
        flex: 1 1;
    }
    .hero-nav{
        padding-bottom: 1rem;
    }
    .hero-heading{
        font-size: 4rem;
        line-height: 4rem;
    }
    
    .hero-text-box {
        padding: 2rem;
    }

    .hero-text {
        font-size: 2rem;
        line-height: 2rem;
    }

    .about-page{
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    .about-text h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .about-text p {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    /* grid column and row spans for wider screens*/

    .w-1{
        grid-column: span 1;
    }
    .w-2{
        grid-column: span 2;
    } .w-3{
        grid-column: span 3;
    } .w-4{
        grid-column: span 4;
    } .w-5{
        grid-column: span 5;
    } .w-6{
        grid-column: span 6;
    }
    .h-1{
        grid-row: span 1;
    } .w-1{
        grid-column: span 2;
    } .w-1{
        grid-column: span 3;
    } .w-1{
        grid-column: span 4;
    } .w-1{
        grid-column: span 5;
    } .w-1{
        grid-column: span 6;
    }
    .gallery-span{
        grid-template-columns: repeat (6,1fr);
       
    }
    .footer-nav {
        padding-top: 2rem;
      }
      .footer-logo {
        flex-basis: 100%;
      }
}

@media (min-width: 920px) {
    body {
        max-width: 1400px;
    }
    
    .hero-body {
        max-width: unset;
    }

    .nav-bar{
        justify-content: space-between;
        padding: 1rem 0;
        margin: 1rem auto 2rem auto;
        line-height: 1rem;
    }
    .nav-menu{
        width: auto;
        justify-self: end;
    }

    .logo{
        margin: 0 0 0 0.3rem;
        justify-self: start;
    }

    .hero-nav{
        width: 100%;
    }

    .about-text h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    .about-text p {
        font-size: 1.75rem;
        line-height: 2rem;
    }

    .footer-nav{
        justify-content: space-evenly;
    }
}